<h2>Jogadores de Xadrez</h2>
<a class="btn btn-primary" routerLink="/jogadorXadrez-add">Novo Jogador</a>  
<table class="table table-hover table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>País</th>
        <th>Rating</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let jogadorXadrez of jogadoresXadrez; let i = index">
        <td>
            {{jogadorXadrez._id}}
        </td>
        <td>
            {{jogadorXadrez.nome}}
        </td>
        <td>
            {{jogadorXadrez.idade}}
        </td>
        <td>
            {{jogadorXadrez.pais}}
        </td>
        <td>
            {{jogadorXadrez.rating}}
        </td>
        <td>
            <a class="btn btn-primary" routerLink="/jogadorXadrez-edit/{{jogadorXadrez._id}}">Editar</a>
        </td>
        <td>
            <button class="btn btn-danger" (click)="deletarJogadorXadrez(jogadorXadrez._id,i)">Deletar</button>
        </td>
    </tr>
</table>